# Python
.venv/
__pycache__/
*.pyc
.DS_Store
.env
.playwright/
.cache/

# Data inputs/outputs
.coverage
*.xlsx
out/
/research/

# VSCode
.vscode/

# Scratch / local HTML test files
scratch/
/*.html

# Python virtual environment
venv/
